<p id="notice"><%= notice %></p>


<p>
  <b>Descripcion:</b>
  <%= @local.descripcion %>
</p>

<p>
  <b>Direccion:</b>
  <%= @local.direccion %>
</p>

<p>
  <b>Distrito:</b>
  <%= @local.distrito %>
</p>

<p>
  <b>Telefono:</b>
  <%= @local.telefono %>
</p>
<br />
<div id="mapa">
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@local.latitude}%2C#{@local.longitude}" %>
</div>
<br />
<%= link_to 'Editar', edit_local_path(@local) %> |
<%= link_to 'regresar', locals_path %>
