<div id="product_list" >
<div class="news">
<h1>Lista de Propietarios</h1>
</div>
<hr class="dottedline">
<br />

<table>
  <tr>
    <th>Nombres</th>
    <th>Ap paterno</th>
    <th>Ap materno</th>
    <th>Tipo doc</th>
    <th>Nro doc</th>
    <th>Email</th>
    <th></th>
    
  </tr>

<% @owners.each do |owner| %>
  <tr>
    <td><%= owner.nombres %></td>
    <td><%= owner.ap_paterno %></td>
    <td><%= owner.ap_materno %></td>
    <td><%= owner.tipo_doc %></td>
    <td><%= owner.nro_doc %></td>
    <td><%= owner.email %></td>
    <td class="list_actions">
	<%= link_to 'Mostrar', owner %><br />
   <%= link_to 'Editar', edit_owner_path(owner) %><br />
   <%= link_to 'Eliminar', owner, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
</div>
<br />

<%= link_to 'Agregar Propietario', new_owner_path %>
