<div class="depot_form" >
	<%= form_for @user do |f| %>
		<% if @user.errors.any? %>
			<div id="error_explanation" >
				<h2><%= pluralize(@user.errors.count, "error") %>
				prohibited this user from being saved:</h2>
				<ul>
					<% @user.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<fieldset>
			<legend> Ingrese sus Datos </legend>
	<div>
		<%= f.label :email1, 'Nombres' %>:
		<%= f.text_field :email1, :size => 40 %>
	</div>			
  <div class="field">
    <%= f.label :appaterno, 'Paterno' %><br />
    <%= f.text_field :appaterno, :size => 40 %>
  </div>
  <div class="field">
    <%= f.label :apmaterno, 'Materno' %><br />
    <%= f.text_field :apmaterno, :size => 40 %>
  </div>
  <div class="field">
    <%= f.label :sexo, 'Sexo' %><br />
    <%= f.text_field :sexo, :size => 20 %>
  </div>
  <div class="field">
    <%= f.label :tipiden, 'Tip.Doc' %><br />
    <%= f.text_field :tipiden, :size => 20 %>
  </div>
  <div class="field">
    <%= f.label :nrodoc, 'Nro.Doc' %><br />
    <%= f.text_field :nrodoc, :size => 40 %>
  </div>
    <div class="field">
    <%= f.label :fchnac, 'Fch.Nac.' %><br />
    <%= f.date_select :fchnac %>
  </div>
    <div class="field">
    <%= f.label :phone, 'Telefono' %><br />
    <%= f.text_field :phone, :size => 40 %>
  </div>
    <div class="field">
    <%= f.label :direc, 'Direccion' %><br />
    <%= f.text_field :direc, :size => 40 %>
  </div>
    <div class="field">
    <%= f.label :distrito, 'Distrito' %><br />
    <%= f.text_field :distrito, :size => 40 %>
  </div>
			

<div class="field">
    <%= f.label :name, 'Email' %><br />
    <%= f.text_field :name, :size => 40 %>
  </div>
  <div class="field">
    <%= f.label :email2, 'Conf.Email' %><br />
    <%= f.text_field :email2, :size => 40 %>
  </div>					
				<div>
					<%= f.label :Password, 'Password' %>:
					<%= f.password_field :password, :size => 40 %>
				</div>
				<div>
					<%= f.label :password_confirmation, 'Confirmacion ' %>:
					<%= f.password_field :password_confirmation, :size => 40 %>
				</div>
				<div>
					<%= f.submit %>
				</div>
		</fieldset>
<% end %>
</div>