<div id="product_list" >
<div class="news">
<h1>Lista de Clientes</h1>
</div>
<hr class="dottedline">
<br />



<% if notice %>
<p id="notice" ><%= notice %></p>
<% end %>
<table id="product_list" width="530px">
<tr>
<th align="left">Nombre</th>
<th></th>

</tr>
<% @users.each do |user| %>
<tr>
<td><%= user.name %></td>
<td class="list_actions">
<%= link_to 'Mostrar', user %><br />
<%= link_to 'Editar', edit_user_path(user) %><br />
<%= link_to 'Eliminar', user, :confirm => 'Are you sure?',
:method => :delete %></td>
</tr>
<% end %>
</table>
</div>
<br />
<%= link_to 'Nuevo Usuario', new_user_path %>
