<div id="product_list" >
<div class="news">
<h1>Listado de Clientes</h1>
</div>
<hr class="dottedline">
<br />


<table>
  <tr>
    <th>Nombres</th>
    <th>Paterno</th>
    <th>Materno</th>
    <th>Telef.</th>
    <th></th>
    
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.nombres %></td>
    <td><%= customer.ap_paterno %></td>
    <td><%= customer.ap_materno %></td>
    <td><%= customer.telefono %></td>
    <td class="list_actions">
	<%= link_to 'Mostrar', customer %><br />
   <%= link_to 'Editar', edit_customer_path(customer) %><br />
    <%= link_to 'Eliminar', customer, confirm: 'Esta Seguro?', method: :delete %></td>
  </tr>
<% end %>
</table>
</div>
<br />

<%= link_to 'Agregar Cliente', new_customer_path %>
