<div id="product_list" >
<div class="news">
<h1>Listar Publicidad</h1>
</div>
<hr class="dottedline">
<br />


<table width="530px">
  <tr>
    <th>Titulo</th>
    <th>Contenido</th>
    <th>Fch inicio</th>
    <th>Fch fin</th>
    <th>Tarifa</th>
    <th>Num clicks</th>
    <th>Ubicacion</th>
    <th ></th>
    
  </tr>

<% @publicities.each do |publicity| %>
  <tr>
    <td><%= publicity.titulo %> </td>
    <td><%= publicity.contenido %></td>
    <td><%= publicity.fch_inicio %></td>
    <td><%= publicity.fch_fin %></td>
    <td><%= publicity.tarifa %></td>
    <td><%= publicity.num_clicks %></td>
    <td><%= publicity.ubicacion %></td>
    <td class="list_actions">
	<%= link_to 'Mostrar', publicity %><br />
    <%= link_to 'Editar', edit_publicity_path(publicity) %><br />
    <%= link_to 'Eliminar', publicity, confirm: 'Are you sure?', method: :delete %>
   </td>
  </tr>
<% end %>
</table>
</div>
<br />

<%= link_to 'Nueva Publicidad', new_publicity_path %>
